# Please try and keep this file organized by alphabetical order. Single files first, then directories.
/vendor
/resources/vendor
/node_modules
/public/storage
/persist
Homestead.yaml
Homestead.json
.env
monica.sublime-workspace
/.idea
/storage/oauth-private.key
/storage/oauth-public.key
/composer.lock
